doctype 5
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/front.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      .logo
    .page
      .tab
      .content
    .footer